.event-feed-main-container
{
    position: absolute;

    top: 57%;
    left: 78%;

    width: 20%;
    height: 40%;

    background-color: rgb(224, 200, 156);

    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    border-radius: 10px;
}

.event-feed-title
{
    width: 90%;
    height: 15%;
    font-family: Revenant_title_font;
    color: white;
}

.event-feed-event-data-container
{
    width: 90%;
    height: 20%;
}

.event-feed-event-data-text
{
    width : fit-content;
}

.event-feed-event-data-button-container
{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.event-feed-event-data-button
{
    flex: 1;
    height: 90%;
    /* background-color: rgb(148, 75, 56); */
    display: flex; 
            justify-content: center; 
            align-items: center; 
            border-radius: 10px;

}

.event-feed-event-data-button:hover
{
    cursor: pointer;
}

.event-feed-divider
{
  margin-top: 3%;
  margin-bottom: 3%;
 
  height: 4px;
  width: 100%;
  background: linear-gradient(
    to left,
    transparent 0%,
    black 30%,
    black 70%,
    transparent 100%
  );
}

.event-feed-outpost-data-container
{
    width: 90%;
    height: 60%;
}

.event-feed-outpost-data-title
{
    width: 100%;
    height: 20%;
    background-color: rgb(224, 200, 156);
}

.event-feed-outpost-data-list-container
{
    border-radius: 10px;
    width: 100%;
    height: 80%;
    /* background-color: rgb(148, 75, 56); */
    overflow-y: scroll;
}


.event-feed-outpost-data-list-element
{
    width: 90%;
    height: auto;
    margin: 10px auto;
    text-align: center;
}


.event-feed-outpost-data-list-container::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
}

.event-feed-outpost-data-list-container::-webkit-scrollbar-thumb {
    background-color: #555;
}

.event-feed-outpost-data-list-container::-webkit-scrollbar-track {
    background-color: #333;
}
