.game-tooltip-main-container
{
    position: absolute;

    top: 15%;
    left: 20px;

    height:fit-content;
    width: fit-content;

    background-color: black;
    border: 8px solid rgb(143, 78, 58);
    font-family: Revenant_text_font;
    color: white;

    padding: 20px 80px 40px 20px; 

}

.game-tooltip-title-text
{
    width: fit-content;
    font-weight: bold;
    font-family: Revenant_title_font;
}

.game-tooltip-normal-text
{
    width: fit-content;
    font-weight: 300;
}

.game-tooltip-button
{
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.game-tooltip-select-container
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.game-tooltip-exit-box
{
    position: absolute;
    margin: 10px;
    top: 0;
    right: 0;
    height: 10%;
    width: 10%;
    background-color: red;
    cursor: pointer;
    border-radius: 10px;

    display: flex;
    justify-content:center;
    align-items:center;
}