
@font-face {
  font-family: Revenant_font;
  src: url("fonts/Revenant_font.otf") format("opentype");
}
/* these names are to change, also number one isnt used anymore */
@font-face {
  font-family: revenant_text_font_one;
  src: url("fonts/Messapia-Regular.otf") format("opentype");
}

@font-face {
  font-family: revenant_text_font_two;
  src: url("fonts/OrticaLinear-Regular.otf") format("opentype");
}

/*  this isnt a solution, to change */
* 
{
  overflow: hidden;
}

/*  the top section with the menu title inital and all of that right now is a bit of a mess and to be re done */

.main-menu-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
}

.top-menu-container {
  font-family: Revenant_font;
  height: 8%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 40px; 
  border-bottom-right-radius: 40px;  
}

.navbar-container {
  height: 6%;
  width: 100%;
  display: flex;
  justify-content: center;
}

/*  this is the bottom container where the game should be or all the dedicated ui */
.page-container {
  height: 86%;
  width: 100%;
}

.game-title-menu {
  width: 40%;
  height: 100%;
}

/* THESE ARE THE SAME */
.game-title-menu-text {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  height: 72%;
  background: url('/RisingRevenantLogo.png') center/contain no-repeat;
}

.game-initials-menu {
  width: 20%;
  height: 100%;
  padding: 10px;
}

/* this is to change */
.game-initials-menu-image-background {
  height: 70%;
  width: 20%;
  background: rgb(255, 255, 255) ;
  display: flex; 
  justify-content: center;
  align-items: center; 
  border-radius: 6%;
  margin-bottom: 5% ;
}

.game-initials-menu-image {
  height: 80%;
  width: 80%;
  justify-self: center;
  background: url('/LOGO_BLACK.png') center/contain no-repeat;
}


.game-initials-menu,
.game-title-menu,
.main-menu-navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.connect-button-menu {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: calc(1em + 0.5vw);
  color: white;
  font-family: revenant_text_font_two;
}

.connect-button-menu:hover {
  cursor: pointer;
}




.tooltip-container-connect-button
{
  position: absolute;
  top: 5%;
  width: 12%;
  height: 15%;
  background-color: aqua;
  display: flex;
  align-items: center;
  z-index: 99;
  flex-direction: column;
}

.tooltip-element-container-connect-button
{
  width: 100%;
  height: 20%;
  margin: 2%;
  background-color: rgb(255, 81, 0);

  display: flex;
  align-items: center;
  flex-direction: row;
  /* justify-self: center;   */
}


.tooltip-element-picture-connect-button
{
  margin: 5%;
  width: 20%;
  height: 80%;
  
  background-color: rgba(0, 0, 0, 0.7);
}

.tooltip-element-text-connect-button
{
  margin: 5%;
  width: 60%;
  height: 80%;

  background-color: rgba(177, 224, 5, 0.7);
  text-align: center;
}






.main-menu-navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 40%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px;  
}

.navbar-button {
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  width: 15%;
  height: 90%;
  font-size: calc(1em + 0.8vw);
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Revenant_font', fallback-fonts, sans-serif;
}

.navbar-button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
}

.navbar-divider {
  background-color: rgb(240, 228, 228);
  width: 1px;
  height: calc(100% - 10px);
  margin: 4px;
}

.selected {
  background-color: rgb(148, 75, 56);
}

.phaser-fadeout-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: -1;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(30px);    
}






.Application {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.2s ease-in-out;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Black overlay with some transparency */
  z-index: 10;
}

.grey-scale-on
{
  filter: grayscale(100%);
}

.grey-scale-off
{
  filter: grayscale(0%);
}

.content {
  z-index: 2;
}

