
.main_menu_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top_menu_container {
  height: 5%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
}

.navbar_container {
  height: 5%;
  width: 100%;
  /* background-color: bisque; */
  display: flex;
  justify-content: center;
}

/*  this si the bottom container where the game should be or all the dedicated ui */
.page_container {
  height: 90%;
  width: 100%;
}

.game_title_menu {
  width: 40%;
  height: 100%;
  background-color: rgb(236, 36, 36);
}

.game_initials_menu {
  width: 20%;
  height: 100%;
  background-color: rgb(236, 36, 36);
}

.connect_button_menu {
  width: 20%;
  height: 100%;
  background-color: rgb(236, 36, 36);
}

.game_initials_menu,
.game_title_menu,
.main_menu_navbar_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.connect_button_menu {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: brown;
}

.connect_button_menu:hover {
  cursor: pointer;
}

.main_menu_navbar_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 40%;
  height: 100%;
  background-color: brown;
}

.navbar_button {
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 153, 153);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

.navbar-divider {
  background-color: rgb(216, 68, 68);
  width: 2px;
  height: calc(100% - 10px);
  margin: 5px;
}

.selected {
  color: rgb(216, 68, 68);
}

.phaser-fadeout-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(53, 34, 34);
  z-index: -1;
  transition: opacity 0.3s ease;
  /* backdrop-filter: blur(30px);     */
  /* the blur doesnt work :( */
}
