.stats-page-container {
  width: 100%;
  height: 100%; 

  background-image: url("Page_Bg/STATS_PAGE_BG.png");
  background-position:  center;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
}

.title-section {
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title-section h2
{
  color: white;

  font-family: Zelda;
  font-weight: 100;

  text-align: center;

  font-size: 3rem;
}

.content-section {
  height: 90%;

  display: flex;
  flex-direction: row;
}

.stats-section {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.list-container {
  height: 80%;
  width: 70%;
}

.list-title-section {
  margin: 10px 0px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  gap: 20px;

  height: 10%;
}

.list-title-section h2 {
  margin: 0px;
  font-size: 1.2cqw;
  white-space: nowrap;
}

.item-container {
  width: 100%;
  height: 85%;
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);

  scrollbar-gutter: stable;

  padding-left: 14px;
  padding-right: 2px;
  overflow-y: auto;
}

.item-container::-webkit-scrollbar {
  width: 12px;
  background-color: white;
  border-radius: 10px;
}

.item-container::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
  scale: 0.9;
}

.item-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 10%;
  background-color: rgb(0, 0, 0);

  color: white;
}


.icon
{
  height: 1em;
  width: 1em;
  vertical-align: middle;
  padding-bottom:0.2em;
  margin: 0px 10px;
}

.icon:hover
{
  cursor: pointer;
}
