.main-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.middle-image {
  background: url('/mapReve.png') center/contain no-repeat;
  height: 70%;
  width: 60%;
}

.main-page-middle-container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
}

.side-section-container {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
}

.bottom-button-container {
  margin-top: auto;
  height: 10%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-revenant-button {
  padding: 10px 20px;
  font-size: 1.2vw;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(148, 75, 56);
}

.list-container-main-page {
  position: absolute;  
  border-radius: 10px;
  bottom: 5%; 
  width: 80%;
  max-height: 50%;
  overflow-y: auto; 
  background-color: rgb(227, 205, 168);
}

.list-main-page-title {
  text-align: center;
  padding: 3%;
  font-size:1.2vw;
  margin-bottom: 5px;
  color: white;
  font-family: Revenant_font;
}

.list-element-main-page {
  max-height: 30%;
  overflow-y: auto;
}