.main-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.main-menu-middle-section-image {
  background: url('/new_resized_map.png') center/contain no-repeat;
  height: 70%;
  width: 60%;
}

.main-page-central-container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
}

.main-menu-side-section-container {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
}

.main-menu-button-container {
  margin-top: auto;
  height: 10%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-revenant-button {
  font-family: revenant_text_font_two;
  padding: 10px 20px;
  font-size: 1.2vw;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(148, 75, 56);
}

.main-menu-list-container {
  position: absolute;  
  border-radius: 10px;
  bottom: 5%; 
  width: 80%;
  max-height: 50%;
  overflow-y: auto; 
  background-color: rgb(227, 205, 168);
}

.main-menu-event-list-title {
  text-align: center;
  font-size:1.8vw;
  margin: 5px;
  color: white;
  font-family: Revenant_font;
}

.main-menu-event-feed-list-element {
  max-height: 30%;
  overflow-y: auto;
  font-family: revenant_text_font_one;
  font-size: 0.7vw;
}


.debug-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.debug-title {
  font-size: 1.2vw;
  margin-bottom: 10px;
  color: white;
  font-family: Revenant_font;
}

.debug-button {
  font-size: 1vw;
  margin: 5px;
  padding: 5px 10px;
  color: white;
  background-color: rgb(148, 75, 56);
  border: none;
  cursor: pointer;
}