.instruction-for-map-container
{
    position: absolute;
    top: 70%;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(54, 54, 61);
    z-index: -2;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    user-select: none;
    pointer-events: none;
    border-radius: 10px;
}


.instruction-for-map-text-element, .instruction-for-map-title-element
{    
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    color: rgb(207, 206, 206);
    margin: 10px;
}

.instruction-for-map-title-element
{    
    font-family: Revenant_title_font;
    font-size: 1.8rem;
}

.instruction-for-map-text-element
{    
    font-family: Revenant_text_font;
    font-size: 1rem;
}

.instruction-for-map-container:hover
{
   opacity: 0;
}