/* rules page */
.rules-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.rules-page-title {
  font-size: 2.5vw;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  margin-top: 1%;
  font-family: Revenant_font;
}

.rules-page-text-container {
  width: 50%;
  max-height: 60%; 
  overflow-y: hidden;  
}

.rules-paragraph {
  padding: 10px;
  color: white;
  line-height: 1.6;
  font-size: 1.2vw; 
  font-family: revenant_text_font_two;
}