.tooltip-container-in-game {
  position: absolute;
  z-index: -1;
  background-color: #0000009f;
  border-radius: 4px;
  padding: 10px;
  font-family: revenant_text_font_two;
}

.tooltip-text-box-in-game {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 20px;
  color: white;
}

.tooltip-button-in-game {
  background-color: rgb(148, 75, 56);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
}
